body{
  font-family: 'Montserrat', sans-serif;
}
p{
  font-size:20px;
}
ul{
  font-size:20px;
}
ol{
  font-size:20px;
}
.groove{
  border-color:lightsteelblue;
  border-style: groove;
  border-radius: 8px;
  padding: 5px;
  background-color:white;
}
p.groove1{
  border-color:blue;
  border-style: groove;
  border-radius: 8px;
  padding: 5px;
  background-color:white;
}
ol.groove{
  background-color:white;
  border-color:lightsteelblue;
  border-style: groove;
  border-radius: 8px;
  padding: 5px;
  margin: 20px;
}
.margin{
  border-radius: 8px;
  border-color:pink;
  border-style: groove;
}
a {
  text-decoration: none;
}
.button {
  transition-duration: 0.4s;
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.button1:hover {
  background-color: orchid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  text-align: center;
  align-content: center;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}